body
{
background-color:lightblue;
position:relative;
left:20px;
}

testbody
{
background-color:lightblue;
text-align:center;
position:relative;
left:20px;
}


#textpara
{
background-color:white;
}

#textareapara
{


}
